In [1]:
import logging as lg

In [2]:
lg.basicConfig(filename='test1n.log',level=lg.INFO,format='%(asctime)s %(message)s')

In [3]:
lg.info('this is hi my first log')

In [4]:
import pandas as pd

In [13]:
pd.read_csv('test1n.log')

   2022-11-15 15:03:54                 649 this is hi my first log
0  2022-11-15 16:16:40  735 start the function at value{a} and {b}
1  2022-11-15 16:16:40                            736 value is {c}
2  2022-11-15 16:17:19      051 start the function at value4 and 6
3  2022-11-15 16:17:19             051 value is 0.6666666666666666
4  2022-11-15 16:17:39      499 start the function at value4 and 0
5  2022-11-15 16:17:39        500 error occured   division by zero

In [10]:
lg.error('thisis my error')

In [11]:
lg.warning("this is my warning")

In [12]:
a=data.iloc[0]

NameError: name 'data' is not defined

In [13]:
print(a)

NameError: name 'a' is not defined

In [47]:
data['new_ccoli']=str(a)[10:len(str(a)[:30] )]

In [38]:
data

      INFO:root:this is my first log             new_ccoli
0     INFO:root:this is my first log  this is my first log
1  INFO:root:this is hi my first log  this is my first log
2         ERROR:root:thisis my error  this is my first log
3    WARNING:root:this is my warning  this is my first log

In [ ]:
def div(a,b):
    lg.info(f"start the function at value{a} and {b}")
    try:
        c=a/b
        lg.info(f"value is {c}")
    except Exception as e:
        lg.error(f"error occured   {e}")

In [12]:
div(4,0)

In [14]:
lg.shutdown()

# Python Module

In [2]:
import sumModule

this is my first sum Module file code

In [3]:
import sumModule

In [4]:
import imp

In [5]:
imp.reload(sumModule)

this is my first sum Module file code

In [7]:
import os

In [8]:
os.mkdir('test')

In [17]:
pwd()

'C:\\Users\\nitin\\OneDrive\\Desktop\\python libraries practice\\python'

In [ ]:
from python.tes

In [16]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 74BF-C45B

 Directory of C:\Users\nitin\OneDrive\Desktop\python libraries practice\python

16-11-2022  19:22    <DIR>          .
15-11-2022  14:37    <DIR>          ..
16-11-2022  18:51    <DIR>          .ipynb_checkpoints
16-11-2022  18:53    <DIR>          __pycache__
16-11-2022  19:22            10,979 python.ipynb
16-11-2022  18:53                48 sumModule.py
16-11-2022  19:18    <DIR>          test
15-11-2022  15:03               748 test.log
15-11-2022  16:17               382 test1n.log
               4 File(s)         12,157 bytes
               5 Dir(s)  55,333,367,808 bytes free