In [1]:
a=5
a

5

Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and
“Satish” from Worker table.

Ans <- select * from worker FIRST_NAME not in ('Vipul','Satish');

Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with
‘h’ and contains six alphabets.

Ans - . > select * from worker where FIRST_NAME like '______h';

Q-3. Write a query to validate Email of Employee.

Ans . - > select * from worker where Email not like '[0-9a-zA-Z]%@%.%';