Q-13. Write an SQL query to show only odd rows from aÂ table.

Ans <- SELECT * FROM Worker WHERE MOD (empID, 2) <> 0;

Q-14. Write an SQL query to clone a new table from another table.

Ans <-    select * into New_employee from worker;

select * from New_employee;

In [ ]:
a=7
a